* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: bold;
}
body {
  background-color: #477ac4;
}
 body::-webkit-scrollbar {
  width: 12px;
 }
 
 body::-webkit-scrollbar-thumb {
   background:white; 
 
 }
 body::-webkit-scrollbar-track {
   background:#477ac4;
 }
.ContainerOrtala {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
 
}
.ContainerKapsam {
  position: relative;
  width: 1300px;
  height: 730px;
  box-shadow: 0 0 12px white;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 13px;
}

.SearchInput {
  position: relative;
  width: 100%;
  height: 56px;
  background-color:#477ac4;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 6px solid white;
}
.SearchInput input {
  width: 270px;
  height: 34px;
  border-radius: 3px;
  border-style: none;
  outline: none;
  font-size: 18px;
  background-color: white;
  box-shadow: 0 0 6px white;
  color: #477ac4;
  text-shadow: 0 0 2px #477ac4;
}
.SearchInput input::placeholder {
  position: relative;
  color: #477ac4;
  text-shadow: 0 0 2px #477ac4;
  left: 3px;
}
.loadingg {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 26px;
}
.loading-icon {
  font-size: 300px;
  color: white;
  text-shadow: 0 0 4px white;
}
.loadingg h2 {
  color: white;
  text-shadow: 0 0 2px white;
  font-size: 44px;
  margin-top: 6px;
}
ul {
  position: absolute;
  list-style: none;
  display: flex;
  align-items: center;
  bottom: 10px;
  left: 7px;
}
li {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color:white;
  box-shadow: 0 0 6px white;
  margin: 5px;
  cursor: pointer;
}
.save-coin-count {
  position: absolute;
  width:auto;
  height: 100%;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.save-coin-count.hidden {
 display: none;
}
.save-coin-count span {
  position: absolute;
  color: #477ac4;
  text-shadow: 0 0 1px #477ac4;
  margin-top: 3px;
  z-index: 1000;
}
.star-icon-save {
  color:white;
  text-shadow: 0 0 1px white;
  font-size: 33px;
  cursor: pointer;
}
.star-icon-save:hover {
  transform: scale(1.02);
  font-size: 34px;
}


@media only screen and (max-width:1350px){
  .ContainerKapsam {
    width: 96%;
  }
}
@media only screen and (max-width:730px) {
  .ContainerKapsam {
    height: 670px;
  }
}
@media only screen and (max-width:610px) {
  .ContainerKapsam {
    height: 638px;
  }
}
@media only screen and (max-width:586px) {
  .ContainerKapsam {
    height: 632px;
  }
}
@media only screen and (max-width:500px) {
  .ContainerKapsam {
    height: 600px;
  }
  li {
    width: 20px;
    height: 20px;
  }
}
@media only screen and (max-width:510px) {
  .loading-icon {
    font-size: 210px;
  }
}
@media only screen and (max-width:546px) {
  .save-coin-count {
    left: 3px;
  }
}

@media only screen and (max-width:476px) {
  .SearchInput input {
    width: 250px;
  }
}

@media only screen and (max-width:436px) {
  .SearchInput input {
    width: 234px;
  }
}


