.CoinCompoment {
    position:absolute;
    width: 100%;
    height:calc(730px - 146px);
    background-color:#477ac4;
    overflow: auto;
    top: 146px;
    transition: 1s;
    left:100%;
}
.CoinCompoment.active{
    left:0%;
}
.CoinCompoment::-webkit-scrollbar {
    width: 12px;
   }
   
   .CoinCompoment::-webkit-scrollbar-thumb {
     background:white; 
   
   }
   .CoinCompoment::-webkit-scrollbar-track {
     background:#477ac4;
     border-radius: 0px 10px 10px 0px;
   }
.CoinCompoment .CoinContainer {
    position: relative;
    width: 100%;
    height: 70px;
    background-color:#477ac4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 6px solid white;
    cursor: pointer;
}
.CoinCompoment .CoinContainer:hover {
    background-color: white;
    box-shadow: 0 0 13px white;
}
.CoinCompoment .CoinContainer .Row {
    position:relative;
    width: 100%;
    height: 62px;
    margin: 2px;
    display: flex;
    align-items: center;
 
   
}

.CoinCompoment .CoinContainer .Row h2 {
    position: relative;
    color: white;
    text-shadow: 0 0 2px white;
    cursor: pointer;
    margin-left: 6px;
    text-transform: uppercase;
}
.CoinCompoment .CoinContainer:hover .Row h2 {
    color: #477ac4;
    text-shadow: 0 0 2px #477ac4;
    
}
.CoinCompoment .CoinContainer .Row label {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.CoinCompoment .CoinContainer .Row label h2 {
    position: relative;
    margin-left: 13px;
}
.CoinCompoment .CoinContainer .Row label img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 0 7px white;
}

.CoinCompoment .CoinContainer .Row .yükşeliş {
    position: relative;
    width: 110px;
    height: 42px;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
    text-shadow: 0 0 2px white;
    border-radius: 4px;
    font-size: 24px;
}
.CoinCompoment .CoinContainer .Row .düşüş {
    position: relative;
    width: 110px;
    height: 42px;
    background-color:#940000;
    box-shadow: 0 0 7px #940000;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
    text-shadow: 0 0 2px white;
    border-radius: 4px;
    font-size: 24px;
}
.CoinCompoment .CoinContainer:hover .Row .düşüş, .CoinCompoment .CoinContainer:hover .Row .yükşeliş {
    color: white;
    text-shadow: 0 0 2px white;
}
.CoinCompoment .CoinContainer .Row .yükşeliş-çizgi {
    position: relative;
    width:124px;
    height:7.5px;
    background-color: green;
    box-shadow: 0 0 6px green;
    cursor: pointer;
    border-radius: 2px;
}


.CoinCompoment .CoinContainer .Row .düşüş-çizgi {
    position: relative;
    width: 124px;
    height:7.5px;
    background-color:#940000;
    box-shadow: 0 0 6px #940000;
    cursor: pointer;
    border-radius: 2px;
}
.Row.symbol {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Row.symbol h2 {
    margin-right: 22px;
}


.icon-save-container  .save-icon {
    position: relative;
    color: white;
    text-shadow: 0 0 2px white;
    font-size: 24px;
    cursor: pointer;
    margin-right: 5px;
    cursor: pointer;
}

.CoinCompoment .CoinContainer:hover .icon-save-container .save-icon {
    color: #477ac4;
    text-shadow: 0 0 2px #477ac4;
}
.save-icon.active {
    position: relative;
    color:#063c61;
    text-shadow: 0 0 2px #063c61;
    font-size: 24px;
    cursor: pointer;
    margin-right: 5px;
}
.CoinCompoment .CoinContainer:hover .icon-save-container .save-icon.active {
    color:#063c61;
    text-shadow: 0 0 2px #063c61;
}

@media only screen and (max-width:730px) {
    .CoinCompoment {
        height:calc(670px - 146px);
    }
  }
  @media only screen and (max-width:610px) {
    .CoinCompoment {
        height:calc(638px - 146px);
    }
  }
  @media only screen and (max-width:586px) {
    .CoinCompoment {
        height:calc(632px - 146px);
    }
  }
@media only screen and (max-width:1290px) {
    .CoinCompoment .CoinContainer .Row h2 {
        font-size: 21px;
    }
    .Row.price {
        display: flex;
        align-items:center;
        justify-content: center;
    }
}
@media only screen and (max-width:1090px) {
  
    .CoinCompoment .CoinContainer .Row h2 {
        font-size: 19px;
    }
    .CoinCompoment .CoinContainer .Row .yükşeliş, .CoinCompoment .CoinContainer .Row .düşüş {
        width: 96px;
        font-size: 20px;
    }
    .CoinCompoment .CoinContainer .Row .yükşeliş-çizgi, .CoinCompoment .CoinContainer .Row .düşüş-çizgi {
         width: 110px;
    }
    .CoinCompoment .CoinContainer .Row label img {
        width: 40px;
        height: 40px;
    }
}


@media only screen and (max-width:920px) {
    .CoinCompoment .CoinContainer .Row h2 {
        font-size: 18px;
    }
}
@media only screen and (max-width:880px) {
    
    .CoinCompoment .CoinContainer .Row h2 {
        font-size: 16.5px;
    }
 
 
}
@media only screen and (max-width:810px) {
  
    .CoinCompoment .CoinContainer .Row h2 {
        font-size: 15px;
    }
    .CoinCompoment .CoinContainer .Row .yükşeliş, .CoinCompoment .CoinContainer .Row .düşüş {
        width: 78px;
        font-size: 17px;
    }
   
    .CoinCompoment .CoinContainer .Row .yükşeliş-çizgi, .CoinCompoment .CoinContainer .Row .düşüş-çizgi {
        width: 100px;
   }
   .CoinCompoment .CoinContainer .Row label img {
    width: 36px;
    height: 36px;
}
}
@media only screen and (max-width:750px) {
   
    
    .CoinCompoment .CoinContainer .Row h2 {
        font-size: 12px;
    }
    .CoinCompoment .CoinContainer .Row .yükşeliş, .CoinCompoment .CoinContainer .Row .düşüş {
        width: 64px;
        font-size: 15px;
    }
    
    .CoinCompoment .CoinContainer .Row .yükşeliş-çizgi, .CoinCompoment .CoinContainer .Row .düşüş-çizgi {
        width: 82px;
   }
   .CoinCompoment .CoinContainer .Row label img {
    width: 38px;
    height: 38px;
}
.CoinCompoment .CoinContainer .Row label h2 {
    margin-left: 7px;
}
}
@media only screen and (max-width:660px) {
    
    .CoinCompoment .CoinContainer .Row h2 {
        font-size: 10px;
    }
    .CoinCompoment .CoinContainer .Row .yükşeliş-çizgi, .CoinCompoment .CoinContainer .Row .düşüş-çizgi {
        width:66px;
   }
   .CoinCompoment .CoinContainer .Row .yükşeliş, .CoinCompoment .CoinContainer .Row .düşüş {
    width: 60px;
    font-size: 14.5px;
}
 
}
@media only screen and (max-width:580px) {
    .CoinCompoment .CoinContainer .Row h2 {
        font-size: 9px;
    }

    .CoinCompoment .CoinContainer .Row .yükşeliş-çizgi, .CoinCompoment .CoinContainer .Row .düşüş-çizgi {
        width:56px;
   }
   .CoinCompoment .CoinContainer .Row .yükşeliş, .CoinCompoment .CoinContainer .Row .düşüş {
    width: 52px;
    font-size: 14px;
}
}
@media only screen and (max-width:528px) {
    .CoinCompoment .CoinContainer {
        height: 60px;
    }
    .CoinCompoment .CoinContainer .Row h2 {
        font-size: 7px;
    }

    .CoinCompoment .CoinContainer .Row .yükşeliş-çizgi, .CoinCompoment .CoinContainer .Row .düşüş-çizgi {
        width:42px;
   }
   .CoinCompoment .CoinContainer .Row .yükşeliş, .CoinCompoment .CoinContainer .Row .düşüş {
    width: 52px;
    font-size: 14px;
}
}


@media only screen and (max-width:440px) {
    .CoinCompoment .CoinContainer .Row h2 {
        font-size: 6.5px;
    }

    .CoinCompoment .CoinContainer .Row .yükşeliş-çizgi, .CoinCompoment .CoinContainer .Row .düşüş-çizgi {
        width:36px;
   }
   .CoinCompoment .CoinContainer .Row .yükşeliş, .CoinCompoment .CoinContainer .Row .düşüş {
    width: 52px;
    font-size: 14px;
}
}
@media only screen and (max-width:420px) {
    .CoinCompoment .CoinContainer .Row h2 {
        font-size: 6px;
    }

    .CoinCompoment .CoinContainer .Row .yükşeliş-çizgi, .CoinCompoment .CoinContainer .Row .düşüş-çizgi {
        width:30px;
   }
   .CoinCompoment .CoinContainer .Row .yükşeliş, .CoinCompoment .CoinContainer .Row .düşüş {
    width: 52px;
    font-size: 14px;
}
}


